button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}

.btn {
    padding: 8px 12px;
    border-radius: 3px;
    border: 0;
}

.btn-primary {
    background-color: #0d6efd;
    color: #fff;
}